<div class = "center hero-unit">
	<h1>Gogia Sales</h1>
	<h2>
		<p>Find me on <a href= "http://gogiasales.com">gogiasales.com</a></p>
	</h2>
	<%= link_to "Sign up Now!", signup_path, class: "btn btn-large btn-primary" %>
</div>